body {
  font-family: "Arial", sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #8312ce 0%, #45a3d6 100%);
}

.login-container {
  background-color: rgba(247, 247, 247, 0.79);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-container img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.logo-container {
  margin-bottom: 20px;
  height: 50px; /* Reducido de 100px a 50px */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  max-height: 100%; /* Mantiene la proporción */
  max-width: 150px; /* Reducido de 200px a 150px */
  object-fit: contain; /* Asegura que la imagen no se deforme */
}

h2 {
  color: #1e40af;
  margin-bottom: 30px;
}

#loginForm {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #93c5fd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #163eac;
}

#message {
  margin-top: 15px;
  color: #ef4444;
  font-size: 14px;
}
